.group_section {
    display: grid;
    grid-template-rows: 50px 500px;
    align-content: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    background-color: var(--second-background-color);
}


.title_container > h1 {
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.comment_picture {
    display: grid;
    grid-template-columns: 450px 600px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 10px 40px 20px 40px;
    border-radius: 30px;
}

.comment p {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(32, 31, 31);
    font-weight: 500;
    line-height: 1.6;
}

.comment .btn {
    border-radius: 30px;
    color: var(--orange-main);
    border: 2px solid var(--orange-main);
    padding: 20px;
    cursor: pointer;
    width: 70%;
    transition: all 1s;
}

.comment .btn span {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.comment .btn:hover {
    background-color: #293233;
    color: white;
    border: 2px solid #293233;
}

.img_container img {
    width: 100%;
    border: 8px solid var(--orange-main);
    border-radius: 100%;
}



